Power Automate (Flow)/definition.json
{"name":"d2d1f7f8-c990-43f9-bf36-a405b7a51a92","id":"/providers/Microsoft.Flow/flows/d2d1f7f8-c990-43f9-bf36-a405b7a51a92","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Consume Power BI Asynchronous Unified Scanning API","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"","type":"User","tenantId":""},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-12-29T14:29:50.4858143Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{},"method":"GET","relativePath":"/modifiedSince/{modifiedSince}"}}},"actions":{"Step_1:_Get_(modified)_workspace_ID's":{"actions":{"Call_modified_endpoint":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://api.powerbi.com/v1.0/myorg/admin/workspaces/modified@{variables('modifiedSince')}","authentication":{"type":"ActiveDirectoryOAuth","tenant":"@variables('tenant')","audience":"https://analysis.windows.net/powerbi/api","clientId":"@variables('clientId')","secret":"@variables('clientSecret')"}}},"Parse_JSON_when_succesful":{"runAfter":{"Call_modified_endpoint":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Call_modified_endpoint')","schema":{"type":"array","properties":{"body":{"type":"array","items":{"type":"object","properties":{"Id":{"type":"string"}},"required":["Id"]}}}}}},"Error_date_format":{"runAfter":{"Call_modified_endpoint":["Failed"]},"type":"ParseJson","inputs":{"content":"@body('Call_modified_endpoint')","schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"target":{"type":"string"}},"required":["message","target"]}}}}}}}},"Terminate_due_to_data_formatting_issue_or_more_than_30_days_in_past":{"runAfter":{"Throw_error_400_due_to_data_formatting_issue_or_more_than_30_days_in_past":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"400","message":"Failed due to data formatting issue or >30 days in past"}}},"Throw_error_400_due_to_data_formatting_issue_or_more_than_30_days_in_past":{"runAfter":{"Error_date_format":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":400,"body":"@body('Error_date_format')"}}},"runAfter":{"Check_if_modifiedSince_has_been_supplied":["Succeeded"]},"type":"Scope"},"Step_2:_Request_workspace_details_in_batches_of_100":{"actions":{"Condition":{"actions":{"Determine_amount_of_batches_of_100_and_write_to_variable_batchCount":{"runAfter":{},"type":"SetVariable","inputs":{"name":"batchCount","value":"@add(int(first(split(string(div(length(body('Parse_JSON_when_succesful')), 100)),'.'))),1) "}},"Do_until_requestCount_equals_batchCount":{"actions":{"Call_getInfo_endpoint":{"runAfter":{"Append_third_part_to_string_variable_workspaceArrayAsAsString":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://api.powerbi.com/v1.0/myorg/admin/workspaces/getInfo?lineage=True&datasourceDetails=True","headers":{"Content-Type":"application/json"},"body":"@variables('workspaceArrayAsString')","authentication":{"type":"ActiveDirectoryOAuth","tenant":"@variables('tenant')","audience":"https://analysis.windows.net/powerbi/api","clientId":"@variables('clientId')","secret":"@variables('clientSecret')"}}},"Set_variable_workspaceArray_with_100_workspace_Id's":{"runAfter":{},"type":"SetVariable","inputs":{"name":"workspaceArray","value":"@take(skip(body('Parse_JSON_when_succesful'), variables('requestCount')), 100)"}},"Increment_variable_RequestCount_+1":{"runAfter":{"Call_getInfo_endpoint":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"requestCount","value":1}},"Set_first_part_of_variable_workspaceArrayAsString":{"runAfter":{"Set_variable_workspaceArray_with_100_workspace_Id's":["Succeeded"]},"type":"SetVariable","inputs":{"name":"workspaceArrayAsString","value":"{\"workspaces\": "}},"Append_dynamic_workspace_List_to_string_variable_workspaceArrayAsAsString":{"runAfter":{"Set_first_part_of_variable_workspaceArrayAsString":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"workspaceArrayAsString","value":"@replace(replace(string(variables('workspaceArray')),'{\"Id\":', ''), '}', '')"}},"Append_third_part_to_string_variable_workspaceArrayAsAsString":{"runAfter":{"Append_dynamic_workspace_List_to_string_variable_workspaceArrayAsAsString":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"workspaceArrayAsString","value":"}"}},"Append_getInfo_status_response_to_array_variable_requestStatus":{"runAfter":{"Increment_variable_RequestCount_+1":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"requestStatusArray","value":"@body('Call_getInfo_endpoint')"}}},"runAfter":{"Determine_amount_of_batches_of_100_and_write_to_variable_batchCount":["Succeeded"]},"expression":"@equals(variables('requestCount'), variables('batchCount'))","limit":{"count":999,"timeout":"PT1H"},"type":"Until"}},"runAfter":{},"else":{"actions":{"Response":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":204,"body":{"ResponseText":"No modified workspaces since @{triggerOutputs()['relativePathParameters']['modifiedSince']}"}}},"Terminate_due_to_no_changed_workspaces":{"runAfter":{"Response":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"greater":["@length(body('Call_modified_endpoint'))",0]},"type":"If"}},"runAfter":{"Step_1:_Get_(modified)_workspace_ID's":["Succeeded"]},"type":"Scope"},"Step_3:_Retrieve_data":{"actions":{"Apply_to_each_batch_of_100_workspaces":{"foreach":"@variables('requestStatusArray')","actions":{"Compose_workspace_id_from_response":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_batch_of_100_workspaces')?['Id']"},"Do_until_scan_result_is_ready_to_be_retreived":{"actions":{"Call_scanStatus_endpoint":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://api.powerbi.com/v1.0/myorg/admin/workspaces/scanStatus/@{outputs('Compose_workspace_id_from_response')}","authentication":{"type":"ActiveDirectoryOAuth","tenant":"@variables('tenant')","audience":"https://analysis.windows.net/powerbi/api","clientId":"@variables('clientId')","secret":"@variables('clientSecret')"}}},"Set_variable_requestStatus":{"runAfter":{"Call_scanStatus_endpoint":["Succeeded"]},"type":"SetVariable","inputs":{"name":"requestStatus","value":"@{body('Call_scanStatus_endpoint')?['Status']}"}},"Delay_if_not_ready":{"actions":{"Delay_5_seconds":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}}},"runAfter":{"Set_variable_requestStatus":["Succeeded"]},"expression":{"not":{"equals":["@variables('requestStatus')","Succeeded"]}},"type":"If"}},"runAfter":{"Compose_workspace_id_from_response":["Succeeded"]},"expression":"@equals(variables('requestStatus'), 'Succeeded')","limit":{"count":60,"timeout":"PT1H"},"type":"Until"},"Call_scanResult_endpoint":{"runAfter":{"Do_until_scan_result_is_ready_to_be_retreived":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://api.powerbi.com/v1.0/myorg/admin/workspaces/scanResult/@{outputs('Compose_workspace_id_from_response')}","authentication":{"type":"ActiveDirectoryOAuth","tenant":"@variables('tenant')","audience":"https://analysis.windows.net/powerbi/api","clientId":"@variables('clientId')","secret":"@variables('clientSecret')"}}},"Append_to_array_responseArray":{"runAfter":{"Call_scanResult_endpoint":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"responseArray","value":"@body('Call_scanResult_endpoint')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Step_2:_Request_workspace_details_in_batches_of_100":["Succeeded"]},"type":"Scope"},"Initialize_array_workspaceArray":{"runAfter":{"Initialize_integer_requestCount":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"workspaceArray","type":"array"}]}},"Initialize_array_workspaceArrayAsString":{"runAfter":{"Initialize_array_workspaceArray":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"workspaceArrayAsString","type":"string"}]}},"Initialize_integer_batchCount":{"runAfter":{"Initialize_string_clientSecret":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"batchCount","type":"integer"}]}},"Initialize_integer_requestCount":{"runAfter":{"Initialize_integer_batchCount":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"requestCount","type":"integer","value":0}]}},"Initialize_array_requestStatusArray":{"runAfter":{"Initialize_array_workspaceArrayAsString":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"requestStatusArray","type":"array"}]}},"Initialize_string_requestStatus":{"runAfter":{"Initialize_array_requestStatusArray":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"requestStatus","type":"string"}]}},"Initialize_array_ResponseArray":{"runAfter":{"Initialize_string_requestStatus":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"responseArray","type":"array"}]}},"Check_if_modifiedSince_has_been_supplied":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"modifiedSince","value":"?modifiedSince=@{triggerOutputs()['relativePathParameters']['modifiedSince']}"}}},"runAfter":{"Initialize_string_modifiedSince":["Succeeded"]},"expression":{"not":{"equals":["@triggerOutputs()['relativePathParameters']['modifiedSince']","all"]}},"type":"If"},"Initialize_string_modifiedSince":{"runAfter":{"Initialize_array_ResponseArray":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"modifiedSince","type":"string"}]}},"Return_workspace_info":{"runAfter":{"Step_3:_Retrieve_data":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@variables('responseArray')"}},"Initialize_string_clientId":{"runAfter":{"Initialize_string_tenant":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"clientId","type":"string","value":""}]}},"Initialize_string_clientSecret":{"runAfter":{"Initialize_string_clientId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"clientSecret","type":"string","value":""}]}},"Initialize_string_tenant":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"tenant","type":"string","value":""}]}}},"description":"This flow uses the newly released Asynchronous Unified Scanning APIs in Power BI to consume all workspace related information quickly."},"connectionReferences":{},"flowFailureAlertSubscribed":false}}